<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <div>
      <a class="nav-brand" href="/">Wiki-Maps</a>
    </div>

    <div class="nav-login-register" id="navbarNavAltMarkup">
      <div>
        <a class="nav-item nav-link" href="/login">Login</a>
      </div>
      <div>
        <a class="nav-item nav-link" href="/register">Register</a>
      </div>
    </div>

  </nav>
</header>
