<!DOCTYPE html>
<html lang="en">

  <head >
    <title>Create a Map</title>

    <!-- BOOTSTRAP CSS -->

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/new_map.css" />
    <link rel="stylesheet" href="/styles/nav.css" />

     <!-- Leaflet CSS -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

  </head>

  <body>
    <%- include('partials/_header') %>

    <% if (userId) { %>

    <main class="container">

    <h1 class="create-header">Create New Map!</h1>
    <h4 class=""instructions">Instructions: Please center the map on the area you would like to place your pins. Then enter your map's title, the country it is in, and the city, then click 'Submit' to add your pins!</h4>
    <div id="map-container">
      <div class="map-box">
    <div id="mapid">

      <script>
        // Blank map centred on Vancouver
        let map = L.map('mapid').setView([49.2827, -123.1207], 11);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '© OpenStreetMap',
          draggable: true
        }).addTo(map);

        map.on('moveend'
          , function() {
            let center = map.getCenter();
            let zoom = map.getZoom();
            let lat = center.lat;
            let lng = center.lng;

            console.log(lat, lng, zoom);
            document.getElementById('zoom').value = zoom;
            document.getElementById('latitude').value = lat;
            document.getElementById('longitude').value = lng;
          }
        );

      </script>

    </div>
    </div>
    <br>

    <div class="submission-form">

      <form action="/api/maps" method="POST">

        <label for="title">Title</label>
        <input type="hidden" name="zoom" id="zoom">
        <input type="hidden" name="latitude" id="latitude">
        <input type="hidden" name="longitude" id="longitude">
        <input type="text" name="title" id="title" placeholder="Enter a fitting title!" required>
        <label for="latitude">Country</label>
        <input type="text" name="country" id="country" placeholder="Enter your country..." required>
        <label for="longitude">City</label>
        <input type="text" name="city" id="city" placeholder="Enter your city..." required>
        <input type="submit" value="Submit">
      </form>

    </div>

    </div>
    </main>

    <% } else { %>

      <main>

        <h1 style="color: red; display: flex; justify-content: center; margin-top: 20px;"><b>Uh oh! That's an error, fella!</b></h1>

        <h2 style="color: red; display: flex; justify-content: center;"><b>You must be logged in to create a map!</b></h2>

        <div class="tenor-gif-embed" data-postid="22298553" data-share-method="host" data-aspect-ratio="1.33333" data-width="100%"><a href="https://tenor.com/view/thanos-snap-emoji-crying-gif-22298553">Thanos Snap Emoji GIF</a>from <a href="https://tenor.com/search/thanos+snap-gifs">Thanos Snap GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

      </main>

    <% } %>



    <!-- BOOTSTRAP JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->

    <script src="/vendor/jquery-3.0.0.js"></script>

    <!-- REQUIRED JS -->

    <script src="scripts/new_map.js"></script>


    <!-- FONTS -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro:ital,wght@0,600;1,300&display=swap" rel="stylesheet">

  </body>

</html>
